body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;

  background: rgb(66,50,66);
  background: linear-gradient(0deg, rgba(66,50,66,1) 0%, rgba(29,29,29,1) 100%);
  
}

.involved{
  background: rgb(66,50,66);
}

canvas {
  width: 100%;
  height: 100%;
}

a{
  color: #FF3B3B;
  text-decoration: none;
}

#logo {
  position: fixed;
  bottom: 10%;
  right: 50%;
  transform: translate(50%, 0);
  height: 10%;
}

#remembering {
    /* width: 80%; */
    position: fixed;
    top: 4%; 
    right: 50%;
    transform: translate(50%,-50%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #f5f5f5;

  }
  .text {
    /* position: fixed;
    bottom: 7%;
    right: 50%;
    transform: translate(50%, 0); */

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #f5f5f5;

  }

  .text-bottom {
    position: fixed;
    bottom: 4%;
    right: 50%;
    transform: translate(50%, 0);

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #f5f5f5;

  }

  .red{
    color: #FF3B3B;
  }

  .by{
    width: 80%;
    position: fixed;
    bottom: 0%;
    right: 50%;
    transform: translate(50%, 0);

    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #f5f5f5;

  }

  #involved{
    font-size: 24px;
    color: #FF3B3B;
  }

  @media screen and (max-width: 600px) {
    #souls{font-size: 30px;}
    .text{
      
      font-size: 16px;
    }
    .text-bottom {
      bottom: 10%;
      font-size: 20px;
    }
  }