
html{
  min-height: 100%;
  position:relative;
  overscroll-behavior: none;

}

body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: 'Ubuntu',Arial, Helvetica, sans-serif;
  background: rgb(66,50,66);
  background: linear-gradient(40deg, rgb(130, 85, 90) 0%, rgb(40, 40, 79) 100%);
  overscroll-behavior: none;
  
}

.involved{
  overflow: scroll;
  background: rgb(66,50,66);
  background: linear-gradient(0deg,  rgb(130, 85, 90) 0%, rgba(29,29,44,1) 100%);
 
}


a{
  color: #FF3B3B;
  text-decoration: none;
}

#logo {
  position: fixed;
  bottom: 10%;
  right: 50%;
  transform: translate(50%, 0);
  height: 10%;
}

#remembering {
    position: fixed;
    top: 2%; 
    right: 50%;
    transform: translate(50%,-50%);
    text-align: center;
    font-family: 'Ubuntu',Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;

  }

#character {
    position: fixed;
    top: 9%; 
    right: 50%;
    transform: translate(50%,-50%);
    text-align: center;
    font-family: 'Ubuntu',Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
  }

  .text {
    text-align: center;
    font-family: 'Ubuntu',Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;

  }

  .text-bottom {
    position: fixed;
    bottom: 4%;
    right: 50%;
    transform: translate(50%, 0);

    text-align: center;
    font-family: 'Ubuntu',Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;

  }

  .red{
    color: #FF3B3B;
  }

  .by{
    text-align: center;
    font-family: 'Ubuntu',Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;

  }

  #involved{
    position: fixed;
    bottom: 2%;
    right: 50%;
    transform: translate(50%, 0);
    text-align: center;
    font-family: 'Ubuntu',Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 32px;
    color: #FF3B3B;
  }

  .container{
    border-radius: 25px;
    padding: 40px;
    padding-bottom: 20px;
    background-color: rgb(242, 242, 242);
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  @media screen and (max-width: 600px) {
    #souls{font-size: 30px;}
    .text{
      font-size: 16px;
    }
    .text-bottom {
      bottom: 7%;
      font-size: 18px;
    }
    #involved{
      font-size: 20px;
    }
    .by{
      font-size: 11px;
    }
    .container{
      font-size: smaller;
      width: 94%;
    }
    #remembering {
      font-size: 20px;
      width: 100%;
    }
    #character {
      top: 8%;
      font-size: 18px;
      width: 100%;
    }
  }


  button {
    background-color: rgb(245, 69, 69);
    color: white;
    padding: 14px 20px;
    text-align: center;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: auto;
    display: flex; justify-content: center;
    border-radius: 25px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.9;
  }


  .center { 
    text-align: center;
  }

  .person {
    font-size: 50px;
    font-weight: bold;
  }

  #farewell {
    font-style: italic;
  }